body{
margin:0;
}

header{
width:800px;
height:100px;
background-color:#716558;
margin:0 auto 10px auto;
}

#wrapper{
width:800px;
margin:0 auto;

display: flex;
}

ul{
list-style-type:none;
}

aside{
width:240px;
background-color:#FBB040;
float:left;
}

article{
width:520px;
padding:0 20px;
background-color:#29AAE2;
}



footer{
width:800px;
height:100px;
background-color:#8CC63F;
margin:10px auto 0 auto;
}