body{
margin:0;
}

.page{
margin-top:7%;
}

header{
width:800px;
height:100px;
background-color:#716558;
margin:10px auto;
}

#wrapper{
width:800px;
margin:10px auto;
}

ul{
list-style-type:none;
}

.LeftSide{
width:140px;
height:500px;
background-color:#FBB040;
float:left;
}

.RightSide{
width:140px;
height:500px;
background-color:#FBB040;
float:right;
}

article{
width:480px;
height:500px;
padding:0 20px;
background-color:#29AAE2;
overflow:auto;

}

footer{
width:800px;
height:100px;
background-color:#8CC63F;
margin:10px auto;
}