body{
margin: 0 auto;
}

header{
height: 100px;
background-color: #716558;
margin-bottom: 10px;
}

.wrapper{
width: 800px;
margin: 0 auto;
font-size: 0;
}

ul{
list-style-type: none;
padding-left: 20px;
}

article{
width: 560px;
padding: 0 20px;
background-color: #29AAE2;
display: inline-block;
vertical-align: top;
font-size: 16px;

margin-right: 10px;
}

aside{
width: 190px;
background-color: #FBB040;
display: inline-block;
vertical-align: top;
font-size: 16px;
}

footer{
height: 100px;
background-color: #8CC63F;
margin-top: 10px;
}